* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --bg-color: #e0dfde;
  --border-color: #345449;
  --font-color: #222524;
  --primary-color: #e6c9ee;
  --secondary-color: #345449;
  --error-color: #d154ba;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color);
  color: var(--font-color);
  font-family: "Roboto", sans-serif;
}

header {
  padding: 2rem 0;
  text-align: center;
}

h1 {
  font-family: "Reenie Beanie", cursive;
  font-size: 3rem;
}

label {
  font-size: 2rem;
  font-family: "Reenie Beanie", cursive;
}

input {
  background-color: var(--bg-color);
  border: 2px solid var(--border-color);
  border-radius: 0.8rem;
  color: var(--font-color);
  display: block;
  font-size: 1.2rem;
  margin: 0 auto; /* Centraliza horizontalmente */
  padding: 0.3rem;
  text-align: center;
  width: 100%;
}

main {
  display: block; /* Garante que seja tratado como bloco (padrão do <main>) */
  margin: 0 auto; /* Centraliza horizontalmente */
  height: auto;
  width: 90%;
  max-width: 30rem;
  padding: 0 1.5rem 2.5rem; /* Espaçamento interno */
  position: relative; /* Permite posicionar elementos filhos com position absoluta */
  flex: 1;
  align-items: center;
  text-align: center;
}

footer {
  font-family: "Roboto", sans-serif;
  background-color: var(--secondary-color);
  padding: 3rem 0;
  bottom: 0;
  text-align: center;
  align-items: center;
}

footer,
a {
  color: var(--bg-color);
}

button {
  border: none;
}
button.button {
  font-size: 1rem;
  border-radius: 0.8rem;
  transition: all 0.3s ease;
  padding: 0.5rem 1rem;
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

button.button:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

#playerNames {
  display: flex;
  justify-content: space-between;
  margin: 0 0 1.5rem 0;
  gap: 1rem;
}

#playerNames div {
  display: flex;
  flex-direction: column;
  flex: 1; /* Faz os dois divs crescerem igualmente */
}

#gameText {
  margin: 2rem;
  font-size: 1.2rem;
  color: var(--secondary-color);
  min-height: 4.2rem;
  padding: 1rem;
  border-radius: 2rem;
}

#table {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0rem;
  margin: 3rem 0;
}

#table button {
  background-color: var(--bg-color);
  color: var(--font-color);
  cursor: pointer;
  font-size: clamp(3rem, 5vw, 3rem);
  font-family: "Reenie Beanie", cursive;
  transition: 0.15s;
  aspect-ratio: 1 / 1;
  width: 100%;
}

/* #table button:hover {
  filter: brightness(0.95);
} */

/* vertical */
#sp2,
#sp5,
#sp8 {
  border-left: 2px dashed var(--font-color);
  border-right: 2px dashed var(--font-color);
}
/* horizontal */
#sp4,
#sp5,
#sp6 {
  border-top: 2px dashed var(--font-color);
  border-bottom: 2px dashed var(--font-color);
}
